@media only screen
and (max-width : 560px)
and (min-width : 320px) {
  .container {
    margin: 16px auto;
    width: calc(100% - 20px);
  }

  .section_header {
    margin-bottom: 16px;
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    color: #3D3D3D;
  }
}